<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FormResize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="FormResize.Properties.Settings.CatChaConString" connectionString="Data Source=192.168.31.1;Initial Catalog=貓抓抓;Persist Security Info=True;User ID=qq;Password=qq" providerName="System.Data.SqlClient" />
    <add name="貓抓抓Entities" connectionString="metadata=res://*/CatChaModel.csdl|res://*/CatChaModel.ssdl|res://*/CatChaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.31.1;initial catalog=貓抓抓;user id=qq;password=qq;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="貓抓抓Entities1" connectionString="metadata=res://*/CatchaModel.csdl|res://*/CatchaModel.ssdl|res://*/CatchaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.31.1;initial catalog=貓抓抓;persist security info=True;user id=qq;password=qq;multiple active result sets=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="貓抓抓Entities2" connectionString="metadata=res://*/CatchaModel.csdl|res://*/CatchaModel.ssdl|res://*/CatchaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.31.1;initial catalog=貓抓抓;user id=qq;password=qq;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <FormResize.Properties.Settings>
      <setting name="backPic" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="catG_Exist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="catY_Exist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="catW_Exist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dailyCheckIn" serializeAs="String">
        <value>0</value>
      </setting>
    </FormResize.Properties.Settings>
  </userSettings>
</configuration>